<div class="footer-gradient"></div>
<footer class="footer">
  <div class="footer-top">
    <div class="container footer-top__divider">
      <div class="row">
        <div class="col-xs-12  col-md-4">
          <div class="widget  widget_text">
            <h6 class="footer-top__headings">About my practice</h6>
            <div class="textwidget">
              <p>{{ site.data.s.about.footer }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <div class="widget widget_nav_menu">
            <h6 class="footer-top__headings">Links</h6>
            <div class="menu-footer-menu-container">
              <ul id="menu-footer-menu" class="menu">
                <li class="menu-item"><a href="#top">Home</a></li>
                <li class="menu-item"><a href="#about">About Me</a></li>
                <li class="menu-item"><a href="#contact">Contact</a></li>
                <li class="menu-item"><a href="#appointment">Make an Appointment</a></li>
                <li class="menu-item"><a href="#privacy-policy">Privacy policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="widget widget_nav_menu">
            <h6 class="footer-top__headings">Services</h6>
            <div class="menu-services-container">
              <ul id="menu-services" class="menu">
                {% for service in site.data.landing.services limit: 5 %}
                <li class="menu-item">
                  <a>{{ service.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="widget  widget_text">
            <h6 class="footer-top__headings">Appointment</h6>
            <div class="textwidget">
              <p>{{ site.data.s.cta.footer }}</p>
              <br> <a class="btn btn-primary appt-btn" href="#">Book now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="logo-cont__footer">
            <img src="/assets/images/logo_bw.png" alt="Logo Footer">
            <div class="stack">
              <b>{{ site.data.s.about.firm }}</b>
              <span>{{ site.data.s.about.name }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-md-right">
          <div class="footer-bottom__payment-methods">
            <span>PAYMENT METHODS:</span> &nbsp; &nbsp; &nbsp;
            <i class="fa fa-3x fa-cc-visa"></i> &nbsp;
            <i class="fa fa-3x fa-cc-mastercard"></i> &nbsp;
            <i class="fa fa-3x fa-cc-amex"></i> &nbsp;
            <i class="fa fa-3x fa-cc-paypal"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
