<div class="row top">
  <div class="col-sm-12">
    <div class="top__background"></div>
    <div class="container"><div class="top__tagline">{{ site.data.s.tagline }}</div></div>
  </div>
</div>
<div class="container">
  <header class="header row">
    <div class="logo mlr-auto">
      <a href="#">
        <div class="logo-cont__header">
          <img src="/assets/images/logo_2x.png" alt="Logo" class="img-responsive" height="90">
          <div class="stack">
            <b>{{ site.data.s.about.firm }}</b>
            <span>{{ site.data.s.about.name }}</span>
          </div>
        </div>
      </a>
    </div>
    </a>
    <div class="header-widgets mlr-auto">
      <div class="widget header-widgets__widget widget-icon-box">
        <div class="icon-box">
          <i class="fa fa-home fa-3x"></i>
          <div class="icon-box__text">
            <h4 class="icon-box__title">{{ site.data.s.contact.address.l1 }}</h4>
            <span class="icon-box__subtitle">{{ site.data.s.contact.address.l2 }}</span>
          </div>
        </div>
      </div>
      <div class="widget header-widgets__widget widget-icon-box">
        <div class="icon-box">
          <i class="fa fa-clock-o fa-3x"></i>
          <div class="icon-box__text">
            <h4 class="icon-box__title">{{ site.data.s.contact.timing }}</h4>
            <span class="icon-box__subtitle">Sunday CLOSED</span>
          </div>
        </div>
      </div>
      <div class="widget header-widgets__widget widget-social-icons">
        <a class="social-icons__link" href="{{ site.data.s.social.facebook }}" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="social-icons__link" href="{{ site.data.s.social.twitter }}" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="social-icons__link" href="{{ site.data.s.social.youtube }}" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
      </div>
      <div class="widget header-widgets__widget widget_text">
        <div class="textwidget">
          <a class="btn btn-primary btn-rounded" href="#contact" target="_self">
            <i class="fa fa-phone"></i>
            {{ site.data.s.contact.phone }}
          </a>
        </div>
      </div>
    </div>
  </header>
</div>
