/* 05.16. Contact Form 7 */
.wpcf7-select,
.wpcf7-text,
.wpcf7-number,
.wpcf7-textarea,
.wpcf7-date {
	background: $light-color;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: none;
	width: 100%;
	padding: 11px;
	margin-bottom: 15px;
	color: $text-color;

	&:focus {
		border-color: rgba(0, 0, 0, 0.1);
		background: #ffffff;
	}
}

.wpcf7-textarea {
	height: 162px;
}

.wpcf7-date {
	padding: 10px 11px;
}

.wpcf7-submit {
	// float: right;
	margin-bottom: 0;
}

.wpcf7 {
	.wpcf7-response-output {
		margin: 5px 0;
		padding: 10px 20px;
		border-radius: 2px;
	}

	.wpcf7-validation-errors {
		background-color: #faf8d2;
		border: 2px solid #faf8d2;
		color: darken(#faf8d2, 50);
	}

	.wpcf7-mail-sent-ng {
		background-color: #ffe5e5;
		border: 2px solid #ffe5e5;
		color: darken(#ffe5e5, 50);
	}

	.wpcf7-mail-sent-ok {
		background-color: #dcf2dc;
		border: 2px solid #dcf2dc;
		color: darken(#dcf2dc, 50);
	}

	.wpcf7-not-valid-tip {
		margin: 0 0 5px 0;
	}
}

input[type="date"] {
	line-height: inherit;
}
