//
// Custom CSS
//

.logo-cont {
  display: inline-block;

  .stack {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }

  b, span { display: block; }
  b {
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 1.8rem;

  }

  span {
    font-family: 'Merriweather';
    font-size: 1.2rem;
  }

  &__header {
    @extend .logo-cont;
    b { color: #414447; }
    span { color: #979c9f; }
  }

  &__footer {
    @extend .logo-cont;
    b { color: #a1a1a1; }
    span { color: #d2d2d2; }
  }
}

.table-container {
  position: relative;
  padding-bottom: 1rem;

  &:before {
    position: absolute;
    display: block;

    margin: 0 5%;
    bottom: 0;
    width: 90%;

    background: $blue;
    color: white;

    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
  }

  &.readmore-collapsed {
    overflow: hidden;
    height: 34rem;

    &:before { content: 'Show more'; }
  }

  &:not(.readmore-collapsed) {
    &:before { content: 'Show less'; }
  }
}

.cert-img {
  filter: #{"grayscale(100%)"};
  -webkit-filter: #{"grayscale(100%)"};
}
