<div class="panel-grid row m-b">
  <div class="col-md-12">
    <div class="so-panel widget panel-first-child panel-last-child" id="panel-6-4-0-0">
      <div class="text-center panel-widget-style">
        <h3 class="widget-title">Frequently Asked Questions</h3>
      </div>
    </div>
  </div>
</div>
<div class="panel-grid row m-b-0">
  <div class="col-md-4">
    <div class="so-panel widget widget_black_studio_tinymce panel-first-child panel-last-child" id="panel-6-5-0-0">
      <div class="textwidget">
        <p><strong>What can I expect in the first session when I see a therapist?</strong></p>
        <p>Aliquam erat volutpat. Morbi volutpat velit ac sem vulputate sollicitudin. Aliquam tincidunt finibus leo, eget suscipit augue eleifend in.</p>
        <p><a class="read-more" href="#">Read more</a></p>
      </div>
    </div>
  </div>
</div>
