<div class="latest-posts">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="latest-post">
        <a class="latest-post__thumbnail" href="#">
          <img width="270" height="190" src="#" class="attachment-latest-posts size-latest-posts wp-post-image" alt="WonderHealth 21">
        </a>
        <div class="latest-post__categories">
          <ul class="post-categories">
            <li><a href="category/teenage/" rel="category tag">Teenage</a></li>
          </ul>
        </div>
        <h4 class="latest-post__title"><a href="#">Looking for help is sign of strength</a></h4>
        <p class="latest-post__excerpt"> Individual treatment is often termed as psychotherapy, and is meant to help people with their emotional issues, which can …</p>
      </div>
    </div>
  </div>
</div>
