<div class="panel-grid row m-b-lg">
  <div class="panel-row-style">
    <div class="col-md-12">
      <div class="so-panel widget widget-testimonials panel-first-child panel-last-child">
        <div class="testimonial grey-wrap">
          <h2 class="widget-title">Testimonials</h2>
          <div class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              {% for testimonial in site.data.testimonials %}
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-xs-12  col-sm-12">
                    <blockquote>
                      <p class="testimonial__quote">
                        {{ testimonial.content }}
                      </p>
                      <cite class="testimonial__author">{{ testimonial.author }}</cite>
                      <div class="testimonial__author-description">{{ testimonial.description }}</div>
                    </blockquote>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
