<div class="widget  widget-about-us">
  <div id="carousel-people-pw_about_us-2" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="#about" class="about-us__tag">{{ site.data.s.about.certs }}</a>
        <img class="about-us__image" src="/assets/images/stock/image-51.jpg" alt="About us image">
        <h5 class="about-us__name">{{ site.data.s.about.name }}</h5>
        <p class="about-us__description">{{ site.data.s.about.sidebar }}</p>
      </div>
    </div>
  </div>
</div>
